<div class="question">
  <%= @question %>
  <br>
  <%='-You' %>
</div>
<br><br>
</div>
<div class="answer">
  <%= @answer %>
  <br>
  <%= '-Your coach' %>
  <br><br>
    <%= link_to 'Ask a new question', ask_path%>
</div>
